.card {
    margin-bottom: 5%;
}

.navbar {
    margin-bottom: 1%;
    background-color: #33a1ff;
}

.navbar-brand {
    color: white;
}

.badge {
    margin: auto 2px;
}

.item-count-input.form-control {
    width: 100px;
}